.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.workspace {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.track-editor-controls {
  margin-top: 7px;
}

.track-list {
  height: 100%;
  width: 20%;
}

.track-editor {
  overflow-x: auto;
  overflow-y: hidden;
  text-align: left;
  margin-top: 7px;
}

.ruler {
  width: fit-content;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 2.25em;
}

.ruler-labels {
  white-space: nowrap;
  position: relative;
}

.ruler-label {
  font-size: 0.75em;
  text-align: left;
  position: absolute;
  top: -1px;
  margin-left: 4px;
  user-select: none;
}

.tracks-wrapper {
  width: 100%;
  border-bottom: 1px solid black;
  position: relative;
}

.tracks {
  position: absolute;
  top: 0px;
}

.track {
  border-bottom: 2px solid black;
  position: relative;
}

.track-note {
  display: inline-block;
  background-color: green;
  position: absolute;
}

.position-marker {
  position: absolute;
  width: 2px;
  border-left: 2px solid blue;
}

.position-marker-head-container {
  position: absolute;
  top: -10px;
  left: -6px;
  width: 10px;
  height: 10px;
}

.position-marker-head {
  fill: blue;
}

.player-position-marker {
  position: absolute;
  width: 2px;
  border-left: 2px solid orange;
}

.player-position-marker-head {
  fill: orange;
}

.play-button {
  margin-right: 5px;
}

.control-block {
  margin-left: 30px;
}

.plus-minus-button {
  width: 25px;
}

.custom-scrollbar-h {
  position: relative;
  height: 17px;
  background-color: #f1f1f1;
}

.custom-scrollbar-v {
  position: relative;
  width: 17px;
  background-color: #f1f1f1;
}

.custom-scrollbar-h .scroll-thumb {
  position: absolute;
  top: 2px;
  height: 13px;
  background-color: #9d9d9d;
}

.custom-scrollbar-v .scroll-thumb {
  position: absolute;
  left: 2px;
  width: 13px;
  background-color: #9d9d9d;
}

.scroll-thumb:hover {
  background-color: #c1c1c1;
}

.scroll-thumb:active {
  background-color: #787878;
}
